

<div class="container">
  <div class="row">
    <div class="col">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="./assets/java.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Java</h1>
            <p>Angular is a platform and framework <br>for building single-page client applications <br>using HTML and TypeScript. Angular is written in TypeScript.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <h1>Java</h1>
     <p>The Java program was the first language to <br>combine both methods above using a Java Virtual Machine (JVM).</p>
     <p>The Java program was the first language to <br>combine both methods above using a Java Virtual Machine (JVM).</p>
     <p>The Java program was the first language to <br>combine both methods above using a Java Virtual Machine (JVM).</p>
    </div>
  </div>
</div>